In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("crop_modified.csv")

In [3]:
from sklearn import tree

In [4]:
model = tree.DecisionTreeRegressor()

In [5]:
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,cat_crop
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,Nuts
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,Pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,Cereal
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,Fruits
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,Nuts
...,...,...,...,...,...,...,...,...
242356,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0,Cereal
242357,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0,Oilseeds
242358,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0,Sugarcane
242359,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0,Cereal
242360,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0,Oilseeds

In [7]:
X = data[["State_Name","Crop_Year","Season","Crop","Area"]]

In [10]:
y = data[["Production"]]

In [11]:
X

,State_Name,Crop_Year,Season,Crop,Area
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,1254.0
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,2.0
2,Andaman and Nicobar Islands,2000,Kharif,Rice,102.0
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,176.0
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,720.0
...,...,...,...,...,...
242356,West Bengal,2014,Summer,Rice,306.0
242357,West Bengal,2014,Summer,Sesamum,627.0
242358,West Bengal,2014,Whole Year,Sugarcane,324.0
242359,West Bengal,2014,Winter,Rice,279151.0
242360,West Bengal,2014,Winter,Sesamum,175.0

In [12]:
categorical_cols = ["State_Name", "Season", "Crop"]

In [15]:
# X_encoded = pd.get_dummies(X, columns=categorical_cols)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
label_encoders = {}

In [20]:
# Encode categorical columns
for col in categorical_cols:
    label_encoders[col] = LabelEncoder()
    X[col] = label_encoders[col].fit_transform(X[col])

# Display the encoded DataFrame

<ipython-input-20-7cfa4e3b4bde>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = label_encoders[col].fit_transform(X[col])
<ipython-input-20-7cfa4e3b4bde>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = label_encoders[col].fit_transform(X[col])
<ipython-input-20-7cfa4e3b4bde>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col] = label_encoders[col].fit_transform(X[col])

In [21]:
X

        State_Name  Crop_Year  Season  Crop      Area
0                0       2000       1     2    1254.0
1                0       2000       1    74       2.0
2                0       2000       1    95     102.0
3                0       2000       4     7     176.0
4                0       2000       4    22     720.0
...            ...        ...     ...   ...       ...
242356          32       2014       3    95     306.0
242357          32       2014       3   102     627.0
242358          32       2014       4   106     324.0
242359          32       2014       5    95  279151.0
242360          32       2014       5   102     175.0

[242361 rows x 5 columns]

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [25]:
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [26]:
y_pred = model.predict(X_test)

In [27]:
y_pred

array([1435., 1019., 1465., ..., 1535.,  277., 1023.])

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [31]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Absolute Error: 95815.24060183395
Mean Squared Error: 15382767122818.146
R-squared: 0.9289405521233428