In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('price_recommendation.csv')

In [6]:
df

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Cauliflower,Other,FAQ,24-03-2024,1500,2200,2000
1,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Grapes,Other,Medium,24-03-2024,4000,7000,6000
2,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Onion,Other,FAQ,24-03-2024,1000,2000,1800
3,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Potato,Other,FAQ,24-03-2024,300,1000,800
4,Haryana,Hissar,Hansi,Apple,Other,Medium,24-03-2024,4000,8000,6000
...,...,...,...,...,...,...,...,...,...,...
1191,West Bengal,Hooghly,Sheoraphuly,Tomato,Other,FAQ,24-03-2024,2200,2400,2300
1192,West Bengal,Jalpaiguri,Jalpaiguri Sadar,Cauliflower,Other,FAQ,24-03-2024,700,900,800
1193,West Bengal,Jalpaiguri,Jalpaiguri Sadar,Squash(Chappal Kadoo),Other,FAQ,24-03-2024,400,550,500
1194,West Bengal,Malda,English Bazar,Green Gram Dal (Moong Dal),Green Gram Dal,FAQ,24-03-2024,10000,11000,10500
1195,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,Common,FAQ,24-03-2024,3100,3300,3200

In [7]:
df.drop(columns = ['Variety','Grade','Arrival_Date'])

,State,District,Market,Commodity,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Cauliflower,1500,2200,2000
1,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Grapes,4000,7000,6000
2,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Onion,1000,2000,1800
3,Chandigarh,Chandigarh,Chandigarh(Grain/Fruit),Potato,300,1000,800
4,Haryana,Hissar,Hansi,Apple,4000,8000,6000
...,...,...,...,...,...,...,...
1191,West Bengal,Hooghly,Sheoraphuly,Tomato,2200,2400,2300
1192,West Bengal,Jalpaiguri,Jalpaiguri Sadar,Cauliflower,700,900,800
1193,West Bengal,Jalpaiguri,Jalpaiguri Sadar,Squash(Chappal Kadoo),400,550,500
1194,West Bengal,Malda,English Bazar,Green Gram Dal (Moong Dal),10000,11000,10500
1195,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,3100,3300,3200

In [8]:
state = 'Maharashtra'
district='Buldhana'
market = 'Deoulgaon Raja'

In [11]:
query = df[(df['State'] == state) & (df['District']== district) & (df['Market'] == market)]

In [25]:
query

Empty DataFrame
Columns: [State, District, Market, Commodity, Variety, Grade, Arrival_Date, Min_x0020_Price, Max_x0020_Price, Modal_x0020_Price]
Index: []

In [26]:
filtered_data = df[(df['State'] == 'Maharashtra') & (df['District'] == 'Pune') & (df['Market'] == 'Pune') & (df['Commodity'] == 'Garlic')]

min_price = filtered_data['Min_x0020_Price'].values
max_price = filtered_data['Max_x0020_Price'].values

print(f"The corresponding minimum price is : {min_price}")
print(f"The corresponding maximum price is : {max_price}")

The corresponding minimum price is : [5000]
The corresponding maximum price is : [12000]

In [20]:
filtered_data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
1048,Maharashtra,Pune,Pune,Garlic,Other,FAQ,24-03-2024,5000,12000,8500